.container1 {
  display: flex;
  width: 100%;
  height: 80vh; /* Altura total da tela */
  background-color: #f5f5f5; /* Fundo da página */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.sidebar1 {
  width: 15%;
  background-color: #5a31cc;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo1 img {
  max-width: 350px;
  margin-bottom: 15px;
}

nav ul {
  list-style: none;
  width: 100%;
}

nav ul li {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  padding: 10px;
  display: block;
}

nav ul li a.active1 {
  background-color: white;
  color: #5a31cc;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: white;
  color: #5a31cc;
}

.main-content1 {
  width: 80%;
  padding: 20px;
  display: flex; /* Para centralizar o conteúdo dentro do main */
  flex-direction: column; /* Alinhamento vertical */
  align-items: center; /* Centraliza horizontalmente */
}

.h2 {
  font-size: 1.8em;
  color: #5a31cc;
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
  color: #5a31cc;
  font-size: 1.6em;
}

.search-box1 {
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 100%; /* Para garantir que ocupa toda a largura */
}

.search-box1 input {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table1 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table1 th,
.table1 td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 1.2em;
}

.table1 th {
  background-color: #5a31cc;
  color: white;
  font-size: 1.1em;
}

.edit-btn1,
.add-btn1 {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5a31cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn1:hover,
.add-btn1:hover {
  background-color: #5a31cc; /* Adiciona um leve efeito de hover */
}

.delete-btn1 {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn1:hover {
  background-color: darkred;
}
.editar-btn1 {
  padding: 5px 10px;
  background-color: #5a31cc;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.editar-btn1:hover {
  background-color: #7256c0;
}


.button-container3 {
  display: flex; /* Usar flexbox para alinhar os botões */
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 20px; /* Margem superior opcional para espaçamento */
}

.td {
    display: flex; /* Alinha os botões em linha */
    gap: 10px; /* Ajuste o valor de acordo com o espaçamento desejado */
  
  
}